.card {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
  border: 1px solid transparent;
}

.card:hover {
  transform: translateY(-6px);
  border: 1px solid #3b82f6;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top h2 {
  font-size: 18px;
  margin: 0;
  color: #111827;
}

.role {
  margin-top: 10px;
  color: #4b5563;
  font-size: 14px;
}

.card-bottom {
  margin-top: 12px;
}

.stipend {
  font-weight: bold;
  color: #111827;
}
.sidebar {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-left: 280px; /* gives space for sidebar */
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 15px 20px;
  background: #111827;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* logo */
.logo {
  font-size: 18px;
  font-weight: bold;
}

/* search */
.topbar-search {
  flex: 1;
  max-width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* filter */
.topbar-select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}